body {
  margin: 0;
  padding: 0;
}

.containerbooking {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 50px;
}

.navbarbooking {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgb(171, 171, 5) !important;
}

.table-heading {
  text-align: center;
  margin: 20px 0;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  color: #333;
  letter-spacing: 1px;
  font-weight: bold;
}

.custom-table-container {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-table-row {
  background-color: #f9f9f9;
  transition: transform 0.2s ease-in-out;
  margin-bottom: 15px;
}

.custom-table-row:hover {
  transform: scale(1.01);
  background-color: #f1f1f1;
}

.custom-table-row td {
  padding: 16px;
}

.custom-table-row:nth-child(odd) {
  background-color: #fff;
}

.custom-table-row button {
  font-size: 14px;
}
