body {    
  padding: 0;    
  margin: 0;    
  height: 100%;    
  width: 100%;    
  overflow: hidden;
}

.container {    
  height: 100vh;    
  width: 100vw;    
  overflow: hidden;    
  position: relative;    
  display: flex; /* Center contents vertically and horizontally */    
  align-items: center;    
  justify-content: center;
}

.backimg {    
  height: 100%;    
  width: 100%;    
  object-fit: cover;    
  display: block;    
  filter: brightness(70%);
}

.gradient {    
  position: absolute;    
  top: 0;    
  left: 0;    
  height: 100%;    
  width: 100%;    
  background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.6));
}

/* form-signup Styles */
.form-signup {  
  display: flex;  
  flex-direction: column;  
  gap: 10px;  
  max-width: 350px;  
  background-color: #fff;  
  padding: 38px;  
  border-radius: 20px;  
  position: relative;  
  left: 50%;  
  top: 50%;  
  transform: translate(-50%,-50%);
}

.title-signup {  
  font-size: 28px;  
  color: royalblue;  
  font-weight: 600;  
  letter-spacing: -1px;  
  display: flex;  
  align-items: center;  
  justify-content: center;  
  padding-left: 2px;
}

.button-container {    
  position: absolute;    
  top: 10px; /* Adjust as needed */    
  right: 10px; /* Adjust as needed */    
  z-index: 2; /* Ensure it's above other elements */
}

.message, .signin {  
  color: rgba(88, 87, 87, 0.822);  
  font-size: 14px;
}

.signin {  
  text-align: center;
}

.signin a {  
  color: royalblue;
}

.signin a:hover {  
  text-decoration: underline royalblue;
}

.flex {  
  display: flex;  
  width: 100%;  
  gap: 6px;
}

.form-signup label {  
  position: relative;
}

.form-signup label .input {  
  width: 100%;  
  padding: 10px 10px 20px 10px;  
  outline: 0;  
  border: 1px solid rgba(105, 105, 105, 0.397);  
  border-radius: 10px;
}

.form-signup label .input + span {  
  position: absolute;  
  left: 10px;  
  top: 15px;  
  color: grey;  
  font-size: 0.9em;  
  cursor: text;  
  transition: 0.3s ease;
}

.form-signup label .input:placeholder-shown + span {  
  top: 15px;  
  font-size: 0.9em;
}

.form-signup label .input:focus + span, .form-signup label .input:valid + span {  
  top: 30px;  
  font-size: 0.7em;  
  font-weight: 600;
}

.form-signup label .input:valid + span {  
  color: green;
}

.submit {  
  border: none;  
  outline: none;  
  background-color: royalblue;  
  padding: 10px;  
  border-radius: 10px;  
  color: #fff;  
  font-size: 16px;  
  transform: 0.3s ease;
}

.submit:hover {  
  background-color: rgb(56, 90, 194);
}

/* Responsive Media Queries */
@media (max-width: 768px) {
  .form-signup {
      max-width: 90%;
      padding: 20px;
  }

  .title-signup {
      font-size: 24px;
  }

  .submit {
      font-size: 14px;
      padding: 8px;
  }
}

@media (max-width: 480px) {
  .form-signup {
    position: relative;
    top: 45%;
    max-width: 70%;
    padding: 15px;
  }

  .Admin-button{
    position: relative !important;
        right: 88%;
    }
  .form-signup label .input {
    width: 92%;
  }

  .title-signup {
      font-size: 20px;
  }

  .submit {
      font-size: 12px;
      padding: 6px;
  }
}

@media (max-width: 380px) {
  .form-signup {
    position: relative;
    top: 55%;
    max-width: 70%;
    padding: 15px;
  }

  .Admin-button{
    position: relative !important;
        right: 80%;
    }
  .form-signup label .input {
    width: 92%;
  }

  .title-signup {
      font-size: 20px;
  }

  .submit {
      font-size: 12px;
      padding: 6px;
  }
}
